@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mansalva&family=Miltonian+Tattoo&family=Moirai+One&family=Offside&family=Rock+3D&family=Slackey&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

            
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .slackey-regular {
  font-family: "Slackey", serif;
  font-weight: 400;
  font-style: normal;
}
.mansalva-regular {
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-style: normal;
} */
